.login{
  margin-left: 5%;
  margin-top: 5%;
  padding: 20px 30px 0px 30px;
  width: 370px;
  height: 320px;
  background-color: #F2EEEE;
  border-top: 5px solid #E56;
  border-radius: 20px;
}

.fundo{
    background-color: #286090;
}

.footer {
    position:absolute !important;
    bottom:0;
    width:99%;
    height: 40px;
    background-color: #F2EEEE;
    border-radius: 5px;
    text-align: center;
}

.menu{
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: #000;
       
}



html, body {
    height:100%;
    width: 100%;
}