.login{
  margin-left: 5%;
  margin-top: 5%;
  padding: 15px;
  width: 380px;
  box-shadow: 10px 10px 10px 5px black;
  border-radius: 20px;
}


.fundo{
    background-color: #312450;
}


.menu{
    position: absolute;
    top: 100%;
    background-color: #000;
       
}



html, body {
    height:100%;
    width: 100%;
}